commands:
  01_install_gdal:
    test: "[ ! -d /usr/local/gdal ]"
    command: "/tmp/gdal_install.sh"
files:
  "/tmp/gdal_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo yum-config-manager --enable epel
      sudo yum -y install make automake gcc gcc-c++ libcurl-devel proj-devel geos-devel

      # Cmake
      sudo yum install sudo wget openssl-devel -y
      sudo yum groupinstall "Development Tools" -y
      cd /
      sudo mkdir /usr/local/cmake
      cd usr/local/cmake/
      sudo wget https://cmake.org/files/v3.18/cmake-3.18.0.tar.gz
      sudo tar -xvzf cmake-3.18.0.tar.gz
      cd cmake-3.18.0
      sudo ./bootstrap
      make
      sudo make install

      # SQlite
      cd /
      sudo mkdir -p /usr/bin/sqlite
      cd /usr/bin/sqlite
      sudo wget  https://www.sqlite.org/2023/sqlite-autoconf-3420000.tar.gz
      sudo tar -xzf sqlite-autoconf-3420000.tar.gz
      cd sqlite-autoconf-3420000/
      ./configure
      make

      # Geos
      cd /
      sudo mkdir -p /usr/local/geos
      cd usr/local/geos
      sudo wget geos-3.11.2.tar.bz2 http://download.osgeo.org/geos/geos-3.11.2.tar.bz2
      sudo tar -xvf geos-3.11.2.tar.bz2
      cd geos-3.11.2
      sudo mkdir build
      cd build
      sudo /usr/local/cmake/cmake-3.18.0/bin/cmake -DCMAKE_BUILD_TYPE=Release ..

      # Proj4
      cd /
      sudo mkdir -p /usr/local/proj
      cd usr/local/proj
      sudo wget -O proj-9.2.1.tar.gz http://download.osgeo.org/proj/proj-9.2.1.tar.gz
      sudo wget -O proj-data-1.14.tar.gz http://download.osgeo.org/proj/proj-data-1.14.tar.gz
      sudo tar xvf proj-9.2.1.tar.gz
      sudo tar xvf proj-data-1.14.tar.gz
      cd proj-9.2.1
      sudo mkdir build
      cd build
      sudo yum install libtiff-devel -y
      sudo /usr/local/cmake/cmake-3.18.0/bin/cmake ..
      sudo /usr/local/cmake/cmake-3.18.0/bin/cmake --build .
      #this runs out of memory =(
      sudo /usr/local/cmake/cmake-3.18.0/bin/cmake --build . --target install



      # GDAL
      cd /
      sudo mkdir -p /usr/local/gdal
      cd usr/local/gdal
      sudo wget -O gdal-3.7.0.tar.gz http://download.osgeo.org/gdal/3.7.0/gdal-3.7.0.tar.gz
      sudo tar xvf gdal-3.7.0.tar.gz
      cd 3.7.0
      sudo ./configure
      sudo make
      sudo make install
      sudo ldconfig